* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --item-preview-width: 60px;
    --mobile-with: calc(100vw - var(--item-preview-width));
}

body {
    width: 100vw;
    height: 100vh;
}

iframe[name="mapFrameAlt"] {
    display: none !important;
}

iframe[name="mapFrame"] {
    width: var(--mobile-with) !important;
    position: fixed;
    bottom: 50px;
}

iframe[name="itemFrame"] {
    position: fixed;
    top: 0;
    height: 100vh !important;
    left: calc(100vw - var(--item-preview-width));
    width: var(--item-preview-width) !important;
}

iframe[name="chatformFrame"] {
    width: var(--mobile-with) !important;
    position: fixed;
    bottom: 0;
}
