html {
    background: #15191e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading {
    position: relative;
    transform: rotate(-60deg);
}

.loading span {
    position: absolute;
    border: solid 10px transparent;
    border-top-width: 6px;
    border-bottom-width: 6px;
    display: block;
    transform: translate(-50%, -50%);
}

.loading .outer span {
    width: 50px;
    height: 26px;
    animation: destiny2-loading 3000ms infinite;
}

.loading .outer span:nth-child(1) {
    animation-delay: 0s;
}

.loading .outer span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(60deg);
    animation-delay: 500ms;
}

.loading .outer span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(120deg);
    animation-delay: 1000ms;
}

.loading .inner span {
    width: 24px;
    height: 11px;
    animation: destiny2-loading 1500ms infinite;
}

.loading .inner span:nth-child(1) {
    animation-delay: 500ms;
}

.loading .inner span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(60deg);
    animation-delay: 250ms;
}

.loading .inner span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(120deg);
    animation-delay: 0s;
}

@keyframes destiny2-loading {
    0% {
        border-left-color: transparent;
        border-right-color: white;
    }

    30% {
        border-left-color: transparent;
        border-right-color: transparent;
    }

    50% {
        border-left-color: transparent;
        border-right-color: transparent;
    }

    50.00001% {
        border-left-color: white;
        border-right-color: transparent;
    }

    80% {
        border-left-color: transparent;
        border-right-color: transparent;
    }

    100% {
        border-left-color: transparent;
        border-right-color: transparent;
    }
}
